
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Cormorant+Garamond:wght@700&family=Handjet:wght@300;800;900&family=Lumanosimo&family=REM:wght@500&display=swap');

h2
{
  text-align: center;
  font-size: 30px;

}
.nav1{
  background-color: #0d6efd;



}

ul li a {
  font-size: 17px;
  font-family: 'Borel', cursive;
}
.nab1 li{
  align-items: center;
}
.nav1 img{
  border-radius: 50%;
}
.nav1 input{
  width: 350px;
  height: 35px;
}

.nav1 button{
  height: 34px;
  margin-left: 5px;
  border-radius: 1rem;
}



form{
  margin-right: 50px;
}
.search-icon {
  /* margin-left: -40px; */
  margin-right: 50px;
  font-size: 20px;
}
.form-group{
  margin-right: 20px;
  width: 300px;
}



.moon{
  align-items: center;
  margin-top: 15px;
  font-size: 22px;
  margin-left: 28px;
}

:root{
  --bg-color:#fdfdfd;
  --text-color:#333;
  --main-color:#754ef9;
  --white-color:#fdfdfd;
  --shadow-color:rgb(0, 0, 0, .2);
}

.dark-moon{
  --bg-color:#0b061f;
  --text-color:#fdfdfd;
  --shadow-color:rgb(0, 0, 0, .7);
}

.bx-moon{
  margin-top: 15px;
  margin-left: 25px;
  font-size: 20px;
}
