

<h1>What is a Cloth?</h1>

<div class="main">
      <p>Clothes can be defined as a piece of fiber of different materials and styles that people wear to cover their bodies as a basic need. People wear clothes in day to day life as a uniform or sometimes to look fashionable. Some examples of clothes are shirts, pants, dresses, coats, etc.</p><br><br>
      <div class="image">
          <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRBbQcYK0XC3ryBFNrTCzRXUT7arDSelhoCTwrPQ2XfKkh8XWzZThoEfv7Sl7sEGsLKWE2oHdFAHwLezpiSKjexD2tz9VvwKGBMY1VbDfQ&usqp=CAE" alt="" width="200px" height="200px">

          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsPtp78jyfd84i-xAQqYrP5Xggjp1l8dbe0g&usqp=CAU" alt="" width="200px" height="200px">

          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDX0dVQrK-ZTStRAR4uETZ9JA050BQt6Gaxw&usqp=CAU" alt=""  width="200px" height="200px">
      </div>
      <div class="heading">
          <h2 id="a">Shirt</h2>
          <h2 id="b">Shut</h2>
          <h2 id="c">Paint</h2>
      </div><br><br>

      <h1>Why Do We Need Clothes?</h1>

      <li>Different clothes are made up of different materials. For example, there are woolen clothes for protection from cold, cotton clothes for summers, raincoats to protect from rain, etc. </li><br>
      <li>Different people have different choices of wearing clothes according to their religion and tradition.</li><br>
      <li>Preference of wearing clothes also changes according to the season. People of different regions wear different clothes. Wearing clothes helps in protecting our bodies from extreme weather conditions. </li><br>
      <li>It is very important to wear clothes in order to cover our body. Clothes protect our body from harmful UV rays coming from the Sun. UV rays are also known as Ultra Violet Radiations which are emitted from the sun and are extremely harmful. UV rays can also cause skin cancer. </li>

      <div class="child">
          <img src="https://is5-ssl.mzstatic.com/image/thumb/Purple128/v4/e0/ac/3d/e0ac3dbf-f004-8b02-c56b-65efba350819/source/256x256bb.jpg" alt="" width="50%" height="400px">
      </div>

      <div class="type">
        <h1>Clothes of Different Sizes and Patterns</h1>
        <p>Clothes are of different sizes and every person chooses to wear their own size. Today, clothes come in many different colours and many different patterns. People choose to buy clothes of different colours, different patterns and styles according to their fashion sense. </p>
        <p>However, uniforms don't have different colours and patterns for the same school. The uniform of one school is the same for every student; however, different schools can have different uniforms. School uniforms are available in all sizes.</p>
      </div>
      <div class="cen">
            <div class="type-image">
                  <img src="https://thumbs.dreamstime.com/z/illustration-cartoon-brunei-couple-wearing-traditional-costumes-108011257.jpg" alt="" width="200px" height="200px">


                  <img src="https://en.pimg.jp/064/917/071/1/64917071.jpg" alt="" width="200px" height="200px">


                  <img src="https://i.pinimg.com/736x/41/ca/56/41ca56fc26d97d33a6d037d31f633c41.jpg" alt="" width="200px" height="200px">

            </div>
      </div>

        <!-- <div class="sec">
          <img src="https://i.pinimg.com/736x/da/b8/b8/dab8b804b40db82dfc823c08120b7369.jpg" alt="" width="200px" height="200px">

          <img src="https://i.pinimg.com/736x/53/b1/28/53b128f450a7d7a3a14ea2065aaf7b03.jpg" alt="" width="200px" height="200px" >

          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhjAdmAkDyMTzwUk9piAiHGNL8_ohN5goObSiwvykhHyuPvApbvUpRxmLMC1ktz498XDE&usqp=CAU" alt="" width="200px" height="200px">
        </div> -->



</div>
