.example-card
{
  width: 250px;
  border: 2px solid black;
}

img{
  padding: 20px;
  margin-left: 30px;
  transition: 0.3s ease-in-out;
}
img:hover{
  transition: 0.3s ease-in-out;
  transform: scale(1.25);
}
