<div >
  <form class="d-flex py-2" #search="ngForm">
    <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search" ngModel>
    <button class="btn btn-outline-success" type="submit" (click)="search_data(search)">Search here</button>
  </form>
</div>

<div class="d-flex flex-wrap justify-content-evenly">
  <mat-card class="example-card m-2" *ngFor="let woman of womandata">
    <div (click)="showproduct('woman', woman.id)">
      <mat-card-header>
        <mat-card-title>{{woman.title}}</mat-card-title>
        <mat-card-subtitle>{{woman.category}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="woman.image" alt="" width="80%" height="220px">
      <mat-card-content>
        <p>
          Price: {{woman.price}}
        </p>
        <p>
          rating: {{woman.rating}}
        </p>
      </mat-card-content>
    </div>
    <mat-card-actions  class="d-flex w-100 justify-content-evenly" >
      <button mat-raised-button color="accent">LIKE</button>
      <button mat-raised-button color="primary" (click)="addtoCart(woman)" >Add to cart</button>
    </mat-card-actions>
  </mat-card>
</div>
